@charset "utf-8";

.wrap {
  width: 1000px;
}
header {
  height: 100px;
  background: #cf1e8e;
}
.contents {
  display: flex;
  overflow: hidden;
  background: #d4e8ff;
}
nav{
  width: 200px;
  height: 200px;
  background: #80b8ff;
}
section {
  width: 560px;
  height: 200px;
  margin: 0 20px;
  background: #80b8ff;
}
aside {
  width: 200px;
  height: 200px;
  background: #80b8ff;
}
footer {
  height: 100px;
  background: #fffe80;
}